body, html{
    margin: 0;
    height: 100%;
    
}

.main-container{
    display: flex;
    min-height: 100vh;   
}

.home-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin-top: 150px;
    text-align: center;

    height: 100%;
    line-height: 50px;
}
.home-container button{
    background-color: rgb(40, 17, 5);
    font-size:16px; 
    color: grey;
    padding: 12px 20px;
     border-radius: 5px;
      border: none;
}

.home-container button:hover {
    cursor: pointer;
    background-color: rgb(52, 26, 12);
}

.home-container img{
    max-width: 100px;
    
}