.details-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.upper-container{
    min-width: 60em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 50px;
    padding-top: 110px;
    font-family: sans-serif;
    border-bottom: 2px solid lightgray;
}

.upper-container button {
    padding: 6px 12px;
    background-color: white;
    border: none;
    color: black;
    font-size: 20px;
    
}
.upper-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-container{
    min-width: 60em;
    margin-left: 50px;
}
.lower-container button:hover {
    cursor: pointer;
}

.tasks-container input{
    background-color: lightgray;
    border: none;
    min-height: 30px;
    min-width: 20rem;
    margin-right: 5px;
}


.tasks{
    display: flex;
    width: 95%;
    margin-left: 50px;
}

.tasks ul {
    width: 100%;
    background-color: rgb(233, 230, 230);
    padding-left: 40px;
    padding-right: 40px;
}
.tasks-container button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 15px;
}

.tasks button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
}

.tasks li{
    width: 100%;
    font-family: sans-serif;
    list-style: none;
}
.task-li{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.task-li button:hover{
    cursor: pointer;
}
.upper-header button:hover {
    cursor: pointer;
}
